<!DOCTYPE html>
<html>
<head>
  <title>Clipita</title>

<%= stylesheet_link_tag    "application", :mediax => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="headband">
  <h1><div class="nounderline"><%= link_to "Share clipboard anywhere", :controller => 'clips', :action => 'index'%></div></h1>
</div>

<div id="signin">
  <% if current_user %>
    Signed in as <strong><%= current_user.email %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Register", {:controller => 'users', :action => 'index'}, :class => 'fbbutton'%>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", :class => 'fbbutton' %>
    <%= link_to 'sign in with email', {:controller => 'sessions', :action => 'index'}, :class => 'fbbutton' %>
    <div><%= link_to "Sign in with Facebook (test)", "/auth/facebook"%></div>
  <% end %>

</div>

<%= yield %>
  <%=params[:notice]  %>

<div id="debug">
  <div id="message">
  </div>
  <%ENV["FACEBOOK_APP_ID"]%>-<%ENV["FACEBOOK_SECRET"]%>

  <div>testconfig=<%=  Clipita::Application.config.testvar   %></div>
  <div>appid=<%= Clipita::Application.config.envvar %> </div>
  <div> env=<%= Clipita::Application.config.envvar %> </div>
</div>
</body>
</html>
